.btn {
  @apply flex items-center px-6 py-3 rounded-sm;
}

.btn.primary {
  @apply text-white bg-primary;
  &:hover {
    opacity: 0.9;
  }
}

.btn.secondary {
  @apply text-white bg-secondary;
  &:hover {
    opacity: 0.9;
  }
}

.btn.default {
  @apply text-gray-500 bg-gray-100 hover:bg-gray-200 hover:text-gray-600;
}

h2 {
  @apply text-4xl font-bold tracking-tight text-center;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .section-main {
    @apply px-2 py-12 md:px-1;
    width: 100%;
  }
}

header .header-main,
section .section-main,
footer .footer-wrapper {
  @apply mx-auto max-w-screen-lg;
}
